langchain                                0.1.20
langchain-community                      0.0.38
langchain-core                           0.1.52
chainlit                                 1.1.202
Chroma                                   0.2.0
llama_cpp_python                         0.2.73
gguf                                     0.6.0
sentence-transformers                    2.7.0
langid                                   1.1.6